## AIVLE School [AI 미니프로젝트] '서울시 생활정보 기반 대중교통 수요 분석'

# 5. 데이터 분석
* 미션: 버스 노선 추가가 필요한 서울시 내 자치구 선정
* 방법: 1부터 4까지의 ipynb 파일 순서대로 진행하며 데이터 불러오기 및 분석(EDA)을 수행하여 서울시 내 자치구별 정보를 도출하고<br> 이를 바탕으로 5. 데이터 분석에서 버스 노선 추가가 필요한 서울시 내 자치구를 선정해봅니다.<br><br>

# 5.0. [데이터 분석을 위한 준비과정] 데이터 합치기

#### [5.0.1] 데이터 합치기
* 지금까지 1~4에서 준비한 데이터 파일
    * 버스 정류장 데이터 - df_seoul_bus_station.csv
    * 유동인구 데이터 - df_seoul_moving.csv
    * 구별 등록 인구 데이터 - df_seoul_people.csv
    * 구별 상권 데이터 - df_seoul_business.csv
* 아래 제시되는 'standard' 데이터 프레임을 기준으로 활용하여, 지금까지 1~4에서 준비한 데이터를 각각 불러와서 합쳐 주세요.
* 이후에는 이 합쳐진 데이터 프레임을 기반으로 미션을 수행하기 위한 분석을 진행합니다.

In [37]:
import pandas as pd

In [38]:
# 데이터 합치기 진행 시, 아래 제시되는 정보를 활용하세요.
standard = pd.DataFrame({'도착 시군구 코드': [11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090, 11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180, 11190, 11200, 11210, 11220, 11230, 11240, 11250],
                         '자치구' :['종로구','중구','용산구','성동구','광진구','동대문구','중랑구','성북구','강북구','도봉구','노원구','은평구','서대문구','마포구','양천구','강서구','구로구','금천구','영등포구','동작구','관악구','서초구','강남구','송파구','강동구']})

In [40]:
standard

    도착 시군구 코드   자치구
0       11010   종로구
1       11020    중구
2       11030   용산구
3       11040   성동구
4       11050   광진구
5       11060  동대문구
6       11070   중랑구
7       11080   성북구
8       11090   강북구
9       11100   도봉구
10      11110   노원구
11      11120   은평구
12      11130  서대문구
13      11140   마포구
14      11150   양천구
15      11160   강서구
16      11170   구로구
17      11180   금천구
18      11190  영등포구
19      11200   동작구
20      11210   관악구
21      11220   서초구
22      11230   강남구
23      11240   송파구
24      11250   강동구

In [41]:
df_bus_station = pd.read_csv('df_seoul_bus_station.csv')
df_moving = pd.read_csv('df_seoul_moving.csv')
df_people = pd.read_csv('df_seoul_people.csv')
df_business = pd.read_csv('df_seoul_business.csv')

In [43]:
df_bus_station_merged = pd.merge(standard, df_bus_station, on='자치구')
df_bus_station_merged

    도착 시군구 코드   자치구  정류장수  노선번호  승차총승객수  하차총승객수     승차평균승객수     하차평균승객수
0       11010   종로구   339   106     918     813  131.957237  125.551812
1       11020    중구   177   103     922     872  120.819189  116.228783
2       11030   용산구   320    67     973     911  138.389716  135.037725
3       11040   성동구   424    58     715     668   95.768403   94.848605
4       11050   광진구   263    38     802     747  119.026245  119.175654
5       11060  동대문구   300    72     983     886  132.112109  128.744747
6       11070   중랑구   370    43     778     708   88.655514   87.234023
7       11080   성북구   596    99    1082     977  124.397481  123.791534
8       11090   강북구   403    67    1187    1079  133.510876  129.123115
9       11100   도봉구   351    43     947     858  105.295501  102.584233
10      11110   노원구   509    55    1021     936   88.693499   87.332338
11      11120   은평구   498    71     967     939  106.239286  103.391536
12      11130  서대문구   432   106     939     893  108.240758  107.476513
13      11140   마포구   555    87    1043     967  105.630104  103.021920
14      11150   양천구   311    56     782     736   98.179632   94.248144
15      11160   강서구   549    49     867     802   90.349505   88.506876
16      11170   구로구   470    79    1156    1021  118.057516  112.776811
17      11180   금천구   340    58     982     878  122.150892  116.911633
18      11190  영등포구   452   100    1011     982  121.099103  121.011388
19      11200   동작구   433    93    1094    1005  123.924450  119.152040
20      11210   관악구   446    77    1429    1480  152.252048  155.239970
21      11220   서초구   587    91    1186    1037  126.120551  121.845693
22      11230   강남구   484    91    1040     948  130.321899  122.184112
23      11240   송파구   402    55     897     915  112.743005  112.349049
24      11250   강동구   365    21     789     816   99.306641   97.663741

In [45]:
df_moving.head()

   도착 시군구 코드    평균 이동시간    평균 이동인구   이동시간 합계      이동인구 합계
0      11010  30.278479  29.153578  23722310  22840982.81
1      11010  30.278479  29.153578  23722310  22840982.81
2      11010  30.278479  29.153578  23722310  22840982.81
3      11010  30.278479  29.153578  23722310  22840982.81
4      11010  30.278479  29.153578  23722310  22840982.81

In [46]:
df_moving_merged = pd.merge(standard, df_moving, on='도착 시군구 코드')
df_moving_merged

          도착 시군구 코드  자치구    평균 이동시간    평균 이동인구   이동시간 합계      이동인구 합계
0             11010  종로구  30.278479  29.153578  23722310  22840982.81
1             11010  종로구  30.278479  29.153578  23722310  22840982.81
2             11010  종로구  30.278479  29.153578  23722310  22840982.81
3             11010  종로구  30.278479  29.153578  23722310  22840982.81
4             11010  종로구  30.278479  29.153578  23722310  22840982.81
...             ...  ...        ...        ...       ...          ...
18117844      11250  강동구  31.205784  38.784313  20925070  26006859.57
18117845      11250  강동구  31.205784  38.784313  20925070  26006859.57
18117846      11250  강동구  31.205784  38.784313  20925070  26006859.57
18117847      11250  강동구  31.205784  38.784313  20925070  26006859.57
18117848      11250  강동구  31.205784  38.784313  20925070  26006859.57

[18117849 rows x 6 columns]

In [47]:
df_people_merged = pd.merge(standard, df_people, on='자치구')
df_people_merged

    도착 시군구 코드   자치구        기간      세대       계      남자      여자  세대당인구  65세이상고령자
0       11010   종로구  2022.1/4   73766  153684   74018   79666   1.96     28064
1       11020    중구  2022.1/4   63767  131450   63869   67581   1.92     24742
2       11030   용산구  2022.1/4  111207  236518  114571  121947   2.00     39461
3       11040   성동구  2022.1/4  134533  291609  141662  149947   2.12     46896
4       11050   광진구  2022.1/4  169483  353110  169525  183585   2.01     52604
5       11060  동대문구  2022.1/4  169695  352592  172318  180274   1.99     62963
6       11070   중랑구  2022.1/4  187693  393600  193623  199977   2.07     72851
7       11080   성북구  2022.1/4  197296  442680  212277  230403   2.20     75719
8       11090   강북구  2022.1/4  144725  300824  145934  154890   2.05     64961
9       11100   도봉구  2022.1/4  138836  318100  154440  163660   2.28     65122
10      11110   노원구  2022.1/4  219065  514445  247417  267028   2.33     89426
11      11120   은평구  2022.1/4  215178  476013  227172  248841   2.19     88418
12      11130  서대문구  2022.1/4  145044  317075  149805  167270   2.11     55012
13      11140   마포구  2022.1/4  180702  378629  176886  201743   2.04     55168
14      11150   양천구  2022.1/4  181765  449378  219882  229496   2.45     69953
15      11160   강서구  2022.1/4  272572  578426  277797  300629   2.10     93924
16      11170   구로구  2022.1/4  181916  419984  208027  211957   2.18     73864
17      11180   금천구  2022.1/4  118697  244901  123959  120942   1.95     41819
18      11190  영등포구  2022.1/4  188193  400241  198080  202161   2.00     63547
19      11200   동작구  2022.1/4  186419  394649  190377  204272   2.07     67470
20      11210   관악구  2022.1/4  279353  500336  250450  249886   1.74     80686
21      11220   서초구  2022.1/4  169895  413677  197665  216012   2.41     61404
22      11230   강남구  2022.1/4  234612  537338  257096  280242   2.27     79575
23      11240   송파구  2022.1/4  285106  668261  321963  346298   2.32     99854
24      11250   강동구  2022.1/4  201926  465097  227891  237206   2.28     75477

In [48]:
df_business_merged = pd.merge(standard, df_business, on='자치구')
df_business_merged

,도착 시군구 코드,자치구,Unnamed: 0,택시운송업_사업체수,택시운송업_종사자수,한식 일반 음식점업_사업체수,한식 일반 음식점업_종사자수,용달 화물자동차 운송업_사업체수,용달 화물자동차 운송업_종사자수,부동산 중개 및 대리업_사업체수,...,커피전문점_사업체수,커피전문점_종사자수,남녀용 겉옷 및 셔츠 도매업_사업체수,남녀용 겉옷 및 셔츠 도매업_종사자수,기타주점업_사업체수,기타주점업_종사자수,일반 교과 학원_사업체수,일반 교과 학원_종사자수,한식 육류요리 전문점_사업체수,한식 육류요리 전문점_종사자수
0,11010,종로구,1,215,215,1548,5912,618,646,549,...,948,3613,400,962,537,"1,413",110,382,437,"1,982"
1,11020,중구,19,230,235,1588,6414,300,333,576,...,869,3542,"10,810","24,248",381,982,57,175,443,"2,121"
2,11030,용산구,35,416,523,857,2987,455,466,791,...,634,2076,54,317,487,"1,332",104,573,300,"1,184"
3,11040,성동구,52,"1,200","2,527",956,2785,"1,072","1,161",801,...,547,1859,149,"1,572",285,621,258,"1,494",400,"1,545"
4,11050,광진구,70,"1,119","1,744",963,2861,968,985,871,...,590,1887,89,687,633,"1,577",413,"1,646",467,"1,678"
5,11060,동대문구,86,"1,546","2,093",1236,3566,"1,431","1,456",842,...,494,1472,211,976,499,"1,082",302,984,442,"1,509"
6,11070,중랑구,101,"3,634","6,262",991,2479,"1,804","1,877",738,...,381,1037,63,284,535,"1,000",288,"1,045",499,"1,504"
7,11080,성북구,118,"1,835","2,643",973,2822,"1,312","1,335",846,...,457,1384,85,454,512,"1,030",464,"1,755",365,"1,334"
8,11090,강북구,139,"1,713","2,589",965,2663,"1,024","1,030",589,...,358,1095,40,94,580,"1,275",220,740,362,"1,176"
9,11100,도봉구,153,"2,993","5,783",672,2009,"1,571","1,574",515,...,288,837,22,43,258,477,351,"1,162",302,943
10,11110,노원구,168,"4,114","6,074",866,2650,"1,730","1,736",714,...,535,1748,30,123,355,844,735,"3,281",428,"1,557"
11,11120,은평구,188,"3,108","4,430",881,2585,"1,340","1,349",1134,...,457,1296,26,74,484,925,551,"1,793",476,"1,639"
12,11130,서대문구,205,"1,747","2,677",863,2694,802,808,667,...,370,1323,22,68,497,"1,127",361,"1,268",311,"1,088"
13,11140,마포구,220,"1,165","1,838",1411,4705,770,829,1149,...,1369,4475,96,"1,209","1,011","2,559",469,"1,855",701,"2,928"
14,11150,양천구,237,"2,735","4,942",831,2800,"1,286","1,293",922,...,402,1375,25,52,415,851,"1,284","5,804",281,"1,111"
15,11160,강서구,256,"3,735","6,922",1325,4584,"1,799","1,862",1311,...,690,2530,78,700,794,"1,709",672,"2,347",581,"2,274"
16,11170,구로구,277,"2,757","3,817",1048,3215,"1,318","1,351",789,...,421,1384,114,923,576,"1,165",336,"1,111",428,"1,496"
17,11180,금천구,293,"1,100","2,598",867,2619,935,997,671,...,383,1215,200,"2,575",391,685,153,487,300,"1,042"
18,11190,영등포구,304,"1,349","2,397",1738,6476,"1,281","1,429",986,...,838,3295,76,"1,220",636,"1,489",288,"1,082",494,"2,151"
19,11200,동작구,323,"1,033","1,115",765,2322,830,844,883,...,486,1628,20,199,439,955,407,"1,463",331,"1,177"
20,11210,관악구,339,"1,286","2,027",1226,3689,"1,579","1,600",1010,...,581,2049,31,190,658,"1,672",354,"1,230",422,"1,628"
21,11220,서초구,361,417,903,1564,6712,386,411,1457,...,1012,3897,157,"1,563",446,"1,255",812,"3,812",445,"2,338"
22,11230,강남구,380,"1,796","2,517",2415,11486,445,487,2337,...,1624,7273,384,"8,320",713,"2,528","1,426","9,020",827,"5,008"
23,11240,송파구,403,"2,638","4,850",1575,5760,"1,910","1,931",1677,...,975,3372,147,"2,830",628,"1,469",876,"4,160",639,"2,781"
24,11250,강동구,431,"3,295","4,980",1101,3388,"1,528","1,566",1188,...,546,1660,59,"1,433",589,"1,349",620,"2,104",428,"1,459"

# 5.1.가설 수립

## 5.1.1.가설 수립 
+ 어떤 데이터를 label 데이터(y)로 해야 할 지 생각해보아 정하세요.
    * 설정한 가설에 따라(가설 마다) y는 다를 수 있습니다. 개인/조 마다 y는 다를 수 있습니다.
+ 가설의 개수는 제한이 없습니다. (조 별로 적어도 3개 이상 설정하세요.)
+ 가설 예시
    * 가설 1 정류장 수와 승차 총 승객수
        * H0 : 정류장 수와 승차 총 승객수는 연관이 없다
        * H1 : 정류장 수와 승차 총 승객수는 연관이 있다
    * 가설 2 노선 수와 총 이동시간
        * H0 : 노선 수와 총 이동시간은 연관이 없다
        * H1 : 노선 수와 총 이동시간은 연관이 있다
    * 가설 3 정류장 수와 이동인구(합)
    * 가설 4 노선 수와 평균 이동 시간
    * 가설 5 노선 수와 커피전문점 이용자수

In [96]:
# 아래에 코드를 작성하고 결과를 확인합니다.

## 5.1.2.단변량 분석

* 아래 제시되는 내용들을 참고하여 단변량 분석을 진행합니다. 
    * 변수의 비즈니스 의미  
    * 변수가 숫자형인지 범주형인지 판단하여 진행
    * 전처리가 필요한지 확인하고 필요 시 진행: NaN 존재 여부 및 조치 방안, 가변수화 대상여부  
    * 기초통계량 분석
    * 데이터 분포 분석  
    * 위 정보로부터 파악한 내용을 비즈니스 관점에서 정리  
    * 추가 분석해볼 사항 도출하여 추가 분석 진행
* 이 프로젝트에서 비즈니스 관점이라 함은 데이터를 분석하는 목적이 어디에 있는가 하는 것을 고려하자는 것입니다.
    * 즉, "서울시 내 어느 자치구에 버스노선 추가가 필요한지를 분석하여 합리적으로 결정하려는 목적"을 가지고 데이터에 근거하기 위해 데이터를 분석하고 정리해야 한다는 의미입니다.

In [97]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

### 1)

### 2)

### 3)

## 5.1.3.이변량 분석

* 자료의 종류에 맞게 X --> Y 에 대해서 시각화와 수치화(가설검정)를 수행하고 결과를 평가합니다.
* 가설검정시 다음의 항목을 참조하여 수행합니다.
    * 유의수준 : 5%
    * 숫자 --> 숫자 : 상관분석
    * 범주 --> 범주 : 카이제곱검정
    * 범주 --> 숫자 : t검정, 분산분석
    * 숫자 --> 범주 : 로지스틱 회귀모형을 통해, 회귀계수의 P.value로 검정을 수행합니다.
* 상관계수 (우리가 배운 기준)
    * 강한: 0.5 < |r| <= 1
    * 중간: 0.2 < |r| <= 0.5
    * 약한: 0.1 < |r| <= 0.2
    * (거의)없음: |r| <= 0.1
* p-value 기준 판단 기준
    * P-value < 0.05이면, 두 변수 간에 관계가 있다. (상관계수가 의미가 있다.)
    * P-value >= 0.05이면, 두 변수 간에 관계가 없다. (상관계수가 의미가 없다.)

In [98]:
import scipy.stats as spst

# 아래에 코드를 작성하고 결과를 확인합니다.

상관계수 : 0.5666813370974585, p-value : 0.003141977397117322

PearsonRResult(statistic=0.38833248798056735, pvalue=0.05507091940045923)

PearsonRResult(statistic=0.42518048108643286, pvalue=0.03410811239601253)

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,평균 이동 시간(분),이동인구평균,총 이동시간,총 이동인구,남자,여자,계,Unnamed: 0,한식 일반 음식점업.1,커피전문점.1,기타주점업.1,비율1
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,21.012462,44.516072,9306020,19715322.61,63869,67581,131450,20,6414,3542,982,0.471314
5,11060,동대문구,306,73,5240565,5115379,131.841430,128.692017,21.673451,39.942708,8838130,16288077.28,172318,180274,352592,87,3566,1472,1082,0.583907
20,11210,관악구,466,86,7655819,7792476,154.753674,157.516040,23.377928,49.904036,8772170,18725641.04,250450,249886,500336,340,3689,2049,1672,0.608687
22,11230,강남구,499,91,8030483,7569213,128.767927,121.371512,23.094565,90.226636,11437560,44684651.43,257096,280242,537338,381,11486,7273,2528,0.621382
0,11010,종로구,349,106,5468935,5205394,131.889620,125.534028,21.349599,44.235978,9356120,19385709.60,74018,79666,153684,2,5912,3613,1413,0.638150

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,평균 이동 시간(분),이동인구평균,...,총 이동인구,남자,여자,계,Unnamed: 0,한식 일반 음식점업.1,커피전문점.1,기타주점업.1,비율1,비율2
22,11230,강남구,499,91,8030483,7569213,128.767927,121.371512,23.094565,90.226636,...,44684651.43,257096,280242,537338,381,11486,7273,2528,0.621382,125.120308
24,11250,강동구,369,21,2890053,2830506,99.161194,97.118065,25.670084,64.249687,...,21101460.33,227891,237206,465097,432,3388,1660,1349,1.276793,126.506024
23,11240,송파구,415,55,5641742,5603488,114.270072,113.495260,25.429707,83.493581,...,34837613.05,321963,346298,668261,404,5760,3372,1469,0.735588,163.107948
15,11160,강서구,566,49,4681083,4652828,88.119480,87.587591,25.124068,58.447282,...,21839762.06,277797,300629,578426,257,4584,2530,1709,1.209122,193.675889
13,11140,마포구,562,97,5088461,4957596,103.907639,101.235343,22.044201,54.884906,...,23639807.30,176886,201743,378629,221,4705,4475,2559,1.104460,216.759777

## 5.1.4.관계 정리

### 1) 강한 관계의 변수

In [103]:
# 강한 관계의 변수는 무엇인가요?
# 예) 정류장 - 승차 총 승객수

### 2) 중간 관계의 변수

In [104]:
# 중간 관계의 변수는 무엇인가요?
# 예) 노선수 - 커피전문점.1(종사자수)

## 5.1.5.솔루션 도출

### 어느 구에 버스 노선 또는 정류장이 제일 필요한가요? 그 이유는 무엇인가요?

In [105]:
# 솔루션 도출
# 예) 강남구 - 중구 - 동대문구 - 관악구에 필요합니다